body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}
  
ol, ul {
    padding-left: 30px;
}
  
.board-row:after {
    clear: both;
    content: "";
    display: table;
}
  
.status {
    margin-bottom: 10px;
}
  
.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.square.square-x {
    color: #000080;
}

.square.square-o {
    color: #b22222;
}
  
.square:focus {
    outline: none;
}
  
.kbd-navigation .square:focus {
    background: #ddd;
}
  
.game {
    display: flex;
    flex-direction: column;
    width: 650px;
    border: #999 1px solid;
    border-radius: 2px;
    background-color: #f8f8f8;
    padding: 10px;
}

.game .game-row {
    display: flex;
    flex-direction: row;
}

.game-player {
    width: 100%;
    display: flex;
    justify-content: center;
}

.game-player-info {
    border-radius: 2px;
    border-bottom: 2px solid transparent;
    color: rgba(0,0,0,.54);
    margin: 0;
    padding: 6px 8px;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    width: 180px;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    color: rgba(0,0,0,.54);
    font-size: 16px;
    box-shadow: 0 1px 1px rgba(0,0,0,.16);
    background-color: #fff;
}

.game-player-info.type-x.active {
    border-bottom-color: #000080;
    box-shadow: 0 4px 5px rgba(0,0,0,.16);
}

.game-player-info.type-o.active {
    border-bottom-color: #b22222;
    box-shadow: 0 4px 5px rgba(0,0,0,.16);
}

.game-player-info .player-type {
    width: 30px;
    text-align: center;
}
  
.game-player-info .player-name {
    width: 100%;
    overflow: hidden;
}

.game-player-info input.player-name {
    border-radius: 2px;
    border: rgba(0,0,0,.16) 1px solid;
}

.game-player-info .player-point {
    width: 20px;
    text-align: center;
}

.game-board-info {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.game-info {
    margin-left: 20px;
}

.game-info > ol > li > button {
    min-width: 105px;
    width: 105px;
    text-align: left;
}

.game-message {
    text-align: center;
}

.game-start-button {
    text-align: center;
}

.game-start-button button {
    border: none;
    font-size: 24px;
    outline: none;
    background-color: transparent;
}

.game-start-button button:hover {
    outline: none;
}

.mt-10 {
    margin-top: 10px;
}

.ml-10 {
    margin-left: 10px;
}